$pink: #d70032;
$red: #cc233a;
$red-dark: #8f000e;
$red-darker: #420009;
$blue: #2959a8;
$green: #1ea699;
$yellow: #ffa500;
$white: #ffffff;
$grey-light: #eeeeee;
$grey: #d8d8d8;
$grey-darker: #606060;
$black: #1f1f1f;

$font-title: "Poppins-Bold", sans-serif;
$font-main: "Poppins-Regular", sans-serif;
$font-sub: "Ubuntu", Arial, sans-serif;

@import 'header';
@import 'footer';
@import 'messages';
@import 'fautes';
@import 'groups';
@import 'groups_history';
@import 'trombi';
@import 'trombi_edition';
@import 'home';
@import 'footer.scss';

html {
  font-size: 62.5%;
}

.module-title {
  font-weight: bold;
  color: $white;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.btn-mysimplon {
  background: $red !important;
  font-weight: bold;
}

.circle-icon {
  background: $red;
  color: $white;
  width: 100px;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 30px 0;
}

nav ul li:hover {
  background: $red; 
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.module-illus {
  height: 250px;
  background: url('/img/module-background.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: relative;
}

.module-illus-layer {
  background-color: #cc233a8f;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}