/* Group create form */
.groups-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.groups-form button {
    margin: 10px;
}

.input-field {
    margin-bottom: 0 !important;
}

.pedagogic {
    margin-left: 45px;
}

/* Group create results */
.group-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Group create save */
.save-groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
    text-align: center;
    margin-bottom: 0;
    }
    div {
        width: 100%;
    }
}

/* Group history */
.history-list {
    padding: 0 !important;
}

.history-list-title {
    text-align: center;
}