.home-photo {
  width: 100vw;
  min-height: 500px;
  margin: 10px 0;
  background-image: url('/img/promo2.jpeg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;

  div {
    text-align: center;
    font-family: $font-main;
    margin-bottom: 0;
    background-color: $grey;
  }
}

.home-trombi,
.home-group-machine {
  padding: 20px 0;
  margin: 40px auto !important;
  background-color: $grey-darker;
  color: $white;
  text-align: center;
}

.home-trombi-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.home-trombi-icon {
  img {
    width: 120px;
    background-color: $grey;
  }
}