test {
  toto: tata;
}

/* Group create form */

.groups-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.groups-form button {
  margin: 10px;
}

.input-field {
  margin-bottom: 0 !important;
}

.pedagogic {
  margin-left: 45px;
}

/* Group create results */

.group-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Group create save */

.save-groups {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.save-groups p {
  text-align: center;
  margin-bottom: 0;
}

.save-groups div {
  width: 100%;
}

/* Group history */

.history-list {
  padding: 0 !important;
}

.history-list-title {
  text-align: center;
}

.home-photo {
  width: 100vw;
  min-height: 500px;
  margin: 10px 0;
  background-image: url("/img/promo2.jpeg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}

.home-photo div {
  text-align: center;
  font-family: "Poppins-Regular", sans-serif;
  margin-bottom: 0;
  background-color: #d8d8d8;
}

.home-trombi,
.home-group-machine {
  padding: 20px 0;
  margin: 40px auto !important;
  background-color: #606060;
  color: #ffffff;
  text-align: center;
}

.home-trombi-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.home-trombi-icon img {
  width: 120px;
  background-color: #d8d8d8;
}

test {
  toto: tata;
}

html {
  font-size: 62.5%;
}

.module-title {
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-mysimplon {
  background: #cc233a !important;
  font-weight: bold;
}

.circle-icon {
  background: #cc233a;
  color: #ffffff;
  width: 100px;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 30px 0;
}

nav ul li:hover {
  background: #cc233a;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.module-illus {
  height: 250px;
  background: url("/img/module-background.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: relative;
}

.module-illus-layer {
  background-color: #cc233a8f;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

